@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 1250px;
    height: 1400px;
    left: 140px;
    top: 50px;
}

/* Start of first-container style ----------------------*/
.container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 106px 0px 0px 111px;
    margin-top: 50px;
    margin-left: 130px;
    border-radius: 20px;
    color: white;
    background-color: rgb(2, 2, 37);
}

.caption-1 {
    font-size: 40px;
    margin-top: 2px;
    padding-right: 180px;

    font-weight: bolder;
}

.caption-2 {
    font-size: .8em;
    color: rgb(119, 116, 116);
    padding-right: 108px;

}

.dashboard-image img {
    margin-left: -50px;
    margin-top: -80px;
    text-decoration: none;
    margin-bottom: -7px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.live-watch {
    padding: 10px 30px;
    border-radius: 7px;
    color: rgb(197, 169, 169);
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(107, 5, 5);
}

.container-3 {
    background-color: rgb(34, 34, 0);
    padding: 80px 40px;
    text-align: center;
    margin-left: -10px;
    margin-right: -90px;
}

.design {
    padding: 20px 100px;
    margin-left: 20px;
}

#infol {
    color: rgb(255, 255, 255);
    text-align: centers;
}

.hr-1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);

    width: 100%;

}

.terms {
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;
    column-gap: 15px;
    text-align: center;
    color: aliceblue;
}

/* End of Third-container style ------------------  */